/*Contenedor content*/
.content {
    display: grid;
    grid-template-areas: "cards1 cards3" "cards2 cards3";
    gap: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    /*content__text*/
    &__text {
        grid-area: cards1;
        margin-top: 30px;
        /*content__text__title*/
        &__title {
            font-size: 5em;
        }
        /*content__text__description*/
        &__description {
            font-size: 2em;
        }
        /*content__text__buttom*/
        &__button {
            padding: 10px 30px 10px 30px;
            margin-bottom: 40px;
            border-radius: 30px;
            background-color: #06040A;
            color: #FFF;
            font-size: 1.5em;
        }
    }
    /*content__cards*/
    &__cards {
        grid-area: cards2;
        display: grid;
        grid-template-areas: "text1 text2" "image image";
        align-items: flex-end;
        gap: 20px;
        /*content__cards__178*/
        &__178 {
        grid-area: text1;
        background-color: lightblue;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
            /*content__cards__178__title*/
            &__title {
                font-size: 2em;
            }
            /*content__cards__178__description*/
            &__description {
                font-size: 1.2em;
            }
        }
        /*content__cards__362*/
        &__362 {
            grid-area: text2;
            background-color: whitesmoke;
            border-radius: 20px;
            margin: 10px;
            padding: 10px;
            /*content__cards__362__title*/
            &__title {
                font-size: 2em;
            }
            /*content__cards__362__description*/
            &__description {
                font-size: 1.2em;
            }
        }
            /*content__title*/
        &__title {
            grid-area: image;
            display: flex;
            justify-content: space-between;
            background-color: whitesmoke;
            border-radius: 20px;
            /*content__title__content*/
            &__content {
                display: inline;
                margin: 10px;
                /*content__title__content__title*/
                &__title {
                    font-size: 2em;
                }
                /*content__title__content__description*/
                &__description {
                    font-size: 1.2em;
                }
            }
            /*content__title__content__image*/
            &__imagen {
                padding-top: 10px;
                padding-right: 10px;
                /*content__title__content__image__pool*/
                &__pool {
                    padding-top: 100px;
                    padding-right: 10px;
                }
            }
        }
    }
    /*content__image*/
    &__image {
    grid-area: cards3;
    margin-top: 15px;
    }
}