/*.header*/
.header {
    width: 100%;
    text-align: center;
    background-image: url("imagenes/emile-seguin-R9OueKOtGGU-unsplash 1.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 130px;
    padding-bottom: 320px;
    margin-bottom: 10px;
    /*.header__title*/
    &__title {
        font-size: 6em;
      }
    /*.header__description*/
    &__description {
        font-size: 2em;
    }  
    /*.header__button*/
    &__button {
        padding: 10px 30px 10px 30px;
        margin-bottom: 40px;
        border-radius: 30px;
        background-color: #06040A;
        color: #FFF;
        font-size: 1.5em;
      }
}