/*.header*/
.header {
    width: 100%;
    text-align: center;
    background-image: url("imagenes/emile-seguin-R9OueKOtGGU-unsplash 1.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10em;
    padding-bottom: 40em;
    margin-bottom: 1em;
    position: relative;

    /*-header__content*/
    &__content {
      padding-left: 35em;
      padding-right: 35em;
    
    /*.header__title*/
      &__title {
          font-size: 6em;
        }
      /*.header__description*/
      &__description {
          font-size: 2.2em;
      }  
      /*.header__button*/
      &__button {
          padding: 1em 3em 1em 3em;
          margin-bottom: 40px;
          border-radius: 30px;
          background-color: #06040A;
          color: #FFF;
          font-size: 1.5em;
        }
    }
}