/*.list*/
.list {
    background-color: #252525;
    border-radius: 3em;
    width: 80%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    color: #FFFFFF;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%,80%);
    /*.list__article__content*/
    &__content {
        padding-top: 3em;
        padding-left: 3em;
        flex-wrap: wrap;
        /*.list__article__content__cloud*/
        &__cloud {
            opacity: 0.8;
        }
         /*.list__article__content__title*/
        &__title {
            font-size: 3em;
        }
        /*.list__article__content__description*/
        &__description {
            font-size: 2em;
        }

    }
  }
